@import "/assets/css/reset.css";
@import "/assets/css/variables.css";

.header nav {
  clear: both;
  margin-top: 30px;
  min-height: 144px;
  top: 0px;
  background-color: rgb(255, 255, 255);
  padding: 0px 48px;
  z-index: 10;
  position: relative;
}

.main-category {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.main-category .category-item .sub-categories {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.category-item:hover .sub-categories {
  display: block;
}

.category-item {
  font-size: 24px;
  position: relative;
}
.category-item a {
  color: black;
}

.sub-categories {
  color: black;
}

.separator {
  width: 2px;
  background-color: gray;
  margin-left: 0px;
}

.headerMenu {
  overflow: hidden;
}

.headerMenu li {
  flex: 1;
  white-space: nowrap;
}

.headerMenu li {
  margin-right: 3px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.search {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.search input {
  border: none;
  outline: none;
}

.search i {
  margin-left: 5px;
}
a.beginner {
  /* Add your desired styles here */
  font-size: 24px;
  color: black;
  position: absolute;
  top: 60px; /* 원하는 위치로 조정하세요 */
  right: 10px;
  float: right;
}

.header .menuOnTopright .headerMenu a {
  color: black !important;
  opacity: 60%;
  font-weight: 500;
  margin-left: 15px;
}
.header .menuOnTopright .headerMenu a:hover {
  color: black !important;
  opacity: 60%;
  font-weight: 500;
  margin-left: 15px;
}

.menuOnTopright .headerMenu {
  display: flex;
  flex-direction: row;
}

.mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 20%;
  max-height: 20%;
}

.mainLogo img {
  max-width: 100%;
  max-height: 100%;
}

.menuOnTopright {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.hidden {
  display: none !important;
}

.footerbody {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
  margin-left: 5.5rem;
  display: flex;
  flex-direction: column;
}

/* 구분선 스타일 */
.footer-separator {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.footerCompany {
  margin-bottom: 10px;
  font-weight: bold;
}

.businessInfo {
  margin-bottom: 10px;
}

.footerContents {
  margin-bottom: 10px;
}

.footerContents a {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.businessDetailOne {
  margin-bottom: 10px;
}

.businessDetailOne span {
  margin-right: 5px;
}

.businessDetailTwo {
  margin-bottom: 10px;
}

.businessDetailTwo span {
  margin-right: 5px;
}

.finalFooter {
  margin-bottom: 3rem;
}
