@import '/assets/css/reset.css';
@import '/assets/css/variables.css';

* {
  box-sizing: border-box;
  /* outline: 1px solid #4f80ff; */
}

.home-container {
  display: flex;
  flex-flow: row;

  margin: 5% 8%;
}
.admin-category {
  display: flex;
  flex-flow: column;
}
.admin-category {
  width: 20%;
  margin-right: 10px;
}

.admin-title {
  margin-bottom: 44px;

  font-size: 28px;
  font-weight: 300;
}
.admin-category-list {
  display: flex;
  flex-flow: column;
  gap: 16px;

  font-weight: 400;
}
.admin-category-list > a {
  text-decoration: none;
  color: var(--gray);

  cursor: pointer;
}
.admin-category-list a.highlight {
  color: green;
  font-weight: bold;
}
/* js */

.horizontal-bar {
  margin-top: 80px;
  width: 70%;
  height: 1px;

  background-color: var(--black);
}
.order-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.ordertitle-explain {
  margin-bottom: 30px;
}
.order-section {
  text-align: center;
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 200px; /* 각 셀의 너비를 25%로 설정 */
}

.order-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.order-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
