@import "reset.css";
@import "variables.css";

* {
  box-sizing: border-box;
  /* outline: 1px solid #4f80ff; */
}

.home-container {
  display: flex;
  flex-flow: row;

  margin: 5% 8%;
}
.admin-category {
  display: flex;
  flex-flow: column;
}
.admin-category {
  width: 20%;
  margin-right: 10px;
}

.admin-title {
  margin-bottom: 44px;

  font-size: 28px;
  font-weight: 300;
}
.admin-category-list {
  display: flex;
  flex-flow: column;
  gap: 16px;

  font-weight: 400;
}
.admin-category-list > a {
  text-decoration: none;
  color: var(--gray);

  cursor: pointer;
}

.horizontal-bar {
  margin-top: 80px;
  width: 70%;
  height: 1px;

  background-color: var(--black);
}
.member-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.membertitle-explain {
  margin-bottom: 30px;
}
