.login-form-container {
  line-height: 32px;
  font-size: 28px;
  font-weight: 300;
  color: #1f1f1f;
  width: 420px;
  margin: 0 auto;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.loginBtn button:first-child {
  background-color: #0ea75c;
}

.title {
  color: #0ea75c !important;
}
