.register-user-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
  }
  
  .register-user-form-box {
    width: 30rem;
  }
  
  .register-user-form-box .title {
    text-align: center;
  }
  
  .register-user-form-box .button {
    font-weight: bold;
  }
  
  .register-user-form-box .input:focus {
    border-color: #0EA75C;
    box-shadow: 0 0 0 0.125em rgba(80, 85, 177, 0.25);
  }
  
  
  .welcomeBtn button:first-child{
    background-color: #0EA75C;
  }
  
  .welcomeBtn button:first-child:hover{
    background-color: #0EA75C;
  }
  
  .welcomeTitle {
    color: #0EA75C !important;
  }


  